<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

	<!-- Bank Site settings -->  
    <!--<add key="ConnectionString" value="UID=fiserv_ecom_iis;PWD=!!fiserv;DSN=FISERV ECOM" />-->
    <add key="ConnectionString" value="Server=NAL-DENDBCL-01\\ENTDB_01;Database=FISERV_ECOM;User Id=fiserv_ecom_iis;Password=!!fiserv;" />
    <add key="InstitutionId" value="1" />
    <add key="MapQuestProxyUrl" value="http://maps.esolutionsfiserv.com/default.ashx?clientId=" />
    <add key="MapQuestClientId" value="30770" />
    <add key="MapQuestXsltFolder" value="~/Xslt/"/>

    <add key="SmtpServer" value="mailrelay.esolutionsfiserv.com" />
    
    <add key="IsErrorAlertEnabled" value="false" />
    <add key="ErrorAlertFromAddress" value="ErrorReporting@digop.com" />
    <add key="ErrorAlertToAddress" value="ErrorReporting@digop.com" />
    
    <!-- Bank Site control page settings -->
	<add key="AtmDrivingDirectionsControlPage" value="~/atmDrivingDirections.aspx" />	
	<add key="AtmMapControlPage" value="~/atmMap.aspx" />    

    <!-- digopCMS settings -->
    <add key="Cms.CustomerId" value="1119" />
  </appSettings>

<!-- Error Pages 2.3.0 by JP Larson, Copyright 2018 Fiserv. All rights reserved. -->
  <system.web>
    <!--<pages validateRequest="false" />-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="cms" namespace="Cms.Web.ClientSite" assembly="Cms.Web.ClientSite"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7.2" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
    <error statusCode="500" redirect="error500.aspx"/>
    <error statusCode="404" redirect="error404.aspx"/>
    <error statusCode="403" redirect="error403.aspx"/>
  </customErrors>-->
    <customErrors mode="Off"/>
  </system.web>


  <!-- Pageless Pages 2.10.0 by JP Larson, Copyright 2022 Fiserv. All rights reserved. -->
<system.webServer>
    <rewrite>
      <!-- Pageless-->
      <rules>
        <!-- Redirect for forced SSL ********************************************************** -->

		 <!-- Redirect for a Single Certified Domain. One domain on SSL Certificate -->
        <!-- <rule name="Redirect to https one domain" enabled="true" stopProcessing="true">
          <match url="(.*)" negate="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="secureinternetbank" negate="true" />
            <add input="{HTTP_HOST}" pattern="fiserv-ecomhosting" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.FISERVPLACEHOLDER.com{REQUEST_URI}" redirectType="Permanent" />
        </rule>-->

		<!-- Redirect for Multiple Domains to Single Domain. More than one domain on SSL Certificate. Add each domain that needs to be redirected within the conditions. Single Certified Domain must also be used with this redirect. -->
        <!-- <rule name="Redirect domain" enabled="true" stopProcessing="true">
          <match url="(.*)" negate="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="secureinternetbank" negate="true" />
			<add input="{HTTP_HOST}" pattern="fiserv-ecomhosting" negate="true" />
            <add input="{HTTP_HOST}" pattern="OLD_DOMAIN_FISERVPLACEHOLDER" />
          </conditions>
          <action type="Redirect" url="https://www.FISERVPLACEHOLDER.com{REQUEST_URI}" redirectType="Permanent" />
        </rule>-->


        <!-- Redirect for Multiple Certified Domains. More than one domain on SSL Certificate. Single Certified Domain and Multiple Domains to Single Domain must NOT be used with this redirect. -->
        <!--<rule name="Redirect to https all domains" enabled="true" stopProcessing="true">
          <match url="(.*)" negate="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="secureinternetbank" negate="true" />
			<add input="{HTTP_HOST}" pattern="fiserv-ecomhosting" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>-->


		<!-- Redirect to WWW. Will force to https://www.domain if https://domain is typed in the address bar or clicked on via a link-->
        <!-- <rule name="Redirect to www" enabled="true" stopProcessing="true">
          <match url="(.*)" negate="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="secureinternetbank" negate="true" />
            <add input="{HTTP_HOST}" pattern="fiserv-ecomhosting" negate="true" />
            <add input="{HTTP_HOST}" pattern="^(?!www\.)(.*)" />
          </conditions>
          <action type="Redirect" url="https://www.{C:1}{REQUEST_URI}" redirectType="Permanent" />
        </rule>-->

		<!-- Redirect from WWW.  Will force to https://domain if https://www.domain is typed in the address bar or clicked on via a link-->
		<!-- <rule name="Redirect to non-www" enabled="true" stopProcessing="true">
          <match url="(.*)" negate="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="secureinternetbank" negate="true" />
            <add input="{HTTP_HOST}" pattern="fiserv-ecomhosting" negate="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)" />
          </conditions>
          <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
		-->
        <!-- End forced SSL ********************************************************** -->

        <!-- Rewrite for physical pages. For consistency it is recommended that any physical page uses a rewrite.
        <rule name="Calculators" enabled="true">
          <match url="Calculators" />
          <action type="Redirect" url="Calculators.aspx" />
        </rule>
        -->
        <rule name="Rewrite Default.aspx Within Directory" enabled="true"> 
          <match url="(.*)/default.aspx$" /> 
          <action type="Redirect" url="{R:1}" redirectType="Permanent" /> 
        </rule> 
        <rule name="Rewrite Default.aspx Within Root" enabled="true"> 
          <match url="^default.aspx$" /> 
          <action type="Redirect" url="./" redirectType="Permanent" /> 
        </rule> 
        <rule name="TestHome" enabled="true">
          <match url="Test-Home" />
          <action type="Rewrite" url="Test-Home.aspx" />
        </rule>
        <rule name="Soft404" enabled="true">
          <match url="Error-404" />
          <action type="Rewrite" url="error404.aspx" />
        </rule>
        <rule name="Soft403" enabled="true">
          <match url="Error-403" />
          <action type="Rewrite" url="error403.aspx" />
        </rule>
        <rule name="Soft500" enabled="true">
          <match url="Error-500" />
          <action type="Rewrite" url="error500.aspx" />
        </rule>
        <rule name="SubDirectory4" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:2}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:2}" pattern="(.*)-(.*)-(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="{R:1}customContent.aspx?name={C:1}+{C:2}+{C:3}+{C:4}+{C:5}" />
        </rule>
        <rule name="SubDirectory3" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:2}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:2}" pattern="(.*)-(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="{R:1}customContent.aspx?name={C:1}+{C:2}+{C:3}+{C:4}" />
        </rule>
        <rule name="SubDirectory2" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:2}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:2}" pattern="(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="{R:1}customContent.aspx?name={C:1}+{C:2}+{C:3}" />
        </rule>
        <rule name="SubDirectory1" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:2}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:2}" pattern="(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="{R:1}customContent.aspx?name={C:1}+{C:2}" />
        </rule>
        <rule name="SubDirectory" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="ContentImageHandler" negate="true"/>
            <add input="{R:0}" pattern="ContentDocumentHandler" negate="true"/>
            <add input="{R:2}" pattern="(\.[\w]{2,4})$" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}customContent.aspx?name={R:2}" />
        </rule>
        <rule name="SubDirectoryASP" enabled="true">
          <match url="(.*[\/]{1})(.*)" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="CustomContent" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="([\w]+\/)" negate="true"/>
            <add input="{R:0}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:0}" pattern="(.*)-(.*)-(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="customContent.aspx?name={C:1}+{C:2}+{C:3}+{C:4}+{C:5}" />
        </rule>
        <rule name="CustomContent1" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="([\w]+\/)" negate="true"/>
            <add input="{R:0}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:0}" pattern="(.*)-(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="customContent.aspx?name={C:1}+{C:2}+{C:3}+{C:4}" />
        </rule>
        <rule name="CustomContent2" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="([\w]+\/)" negate="true"/>
            <add input="{R:0}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:0}" pattern="(.*)-(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="customContent.aspx?name={C:1}+{C:2}+{C:3}" />
        </rule>
        <rule name="CustomContent3" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="([\w]+\/)" negate="true"/>
            <add input="{R:0}" pattern="(\.[\w]{2,4})$" negate="true"/>
            <add input="{R:0}" pattern="(.*)-(.*)" />
          </conditions>
          <action type="Rewrite" url="customContent.aspx?name={C:1}+{C:2}" />
        </rule>
        <rule name="CustomContent4" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{R:0}" pattern="ContentImageHandler" negate="true"/>
            <add input="{R:0}" pattern="ContentDocumentHandler" negate="true"/>
            <add input="{R:0}" pattern="([\w]+\/)" negate="true"/>
            <add input="{R:0}" pattern="(\.[\w]{2,4})$" negate="true"/>
          </conditions>
          <action type="Rewrite" url="customContent.aspx?name={R:0}" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Frame-Options" value="SAMEORIGIN" /> 
        <add name="X-XSS-Protection" value="1; mode=block" /> 
        <add name="X-Content-Type-Options" value="nosniff" /> 
        <add name="Content-Security-Policy" value="block-all-mixed-content" />
        <add name="X-UA-Compatible" value="IE=8; IE=9; IE=EDGE" />
        <add name="Access-Control-Allow-Origin" value="https://www.fiserv-ecomhosting.com" />
		<!-- Add <add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains" /> for https domains. -->
      </customHeaders>
    </httpProtocol>
  <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
  </system.webServer>

<!-- Design 209 2.0.2 by Paul Richards, Copyright 2023 Fiserv. All rights reserved. -->
<location path="images/mask-curve.svg">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="Access-Control-Allow-Origin" />
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>


  
</configuration>

